@page
@model IndexModel
<partial name="_Image" />
@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>
<!-- Create favoriteFoods below -->
@{
    List<string> favoriteFoods = new List<string>()
    {
      "Chicken Curry",
      "Biriani",
      "Chapati",
      "Bhajia"
    };
}
<div class="text-center">
    <h1 class="display-5">Let's work with loops!</h1>
    <br>

    <h4>Results from your for loop:</h4>
    <br>
    <div class="d-flex justify-content-center">
        <ul class="text-left">
        @for (int i = 0; i < favoriteFoods.Count; i++)
        {
            <li>@favoriteFoods[i]</li>
        }
        </ul>
    </div>

    <br>
    <h4>Results from your foreach loop:</h4>
    <div class="d-flex justify-content-center">
        <ul class="text-left">
        @foreach (string food in favoriteFoods)
        {
            <li>@food</li>
        }
        </ul>
    </div>

    <br>
    <h4>Results from your while loop:</h4>
    <div class="d-flex justify-content-center">
        <ul class="text-left">
        @{
            int counter = 0;
        }
        @while (counter < favoriteFoods.Count)
        {
            <li>@favoriteFoods[counter++]</li>
        }

        </ul>
    </div>
</div>
