@page
@model PrivacyModel
<partial name="_Image" />
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<partial name="_Form" />
<p>Use this page to detail your site's privacy policy.</p>
